# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/jennifer-laresma.jpg
!app/crud/uploads/sophia-faye-azul.jpg
!app/crud/uploads/ais-custodio.jpg
!app/crud/uploads/lyrica-luigia-braided.jpg
!app/crud/uploads/mariel-chavez.jpg
!app/crud/uploads/shena-lañada.jpg
!app/crud/uploads/charmed-angel-bicaldo.jpg
!app/crud/uploads/mae-bigayan.jpg
!app/crud/uploads/zaurine-palenzuela.jpg
!app/crud/uploads/maria-sofhia-tabermejo.jpg
!app/crud/uploads/marian-janel-palos.jpg
!app/crud/uploads/grechelle-yvonne-murillo.jpg
!app/crud/uploads/rosalyn-braga.jpg
!app/crud/uploads/jasmine-tangtang.jpg
!app/crud/uploads/full
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
