RewriteEngine On
RewriteBase /bb-alinsangan-nabua/

# Exclude assets from rewrite rule
RewriteCond %{REQUEST_URI} !\.(css|js|svg|jpg|jpeg|png|gif|woff2|ico|ttf)$ [NC]

# Redirect all requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /bb-alinsangan-nabua/public/index.html [L]

# Exclude the public and app directories from the rewrite rule
RewriteCond %{REQUEST_URI} !^/bb-alinsangan-nabua/public/
RewriteCond %{REQUEST_URI} !^/bb-alinsangan-nabua/app/
RewriteRule ^(.*)$ /bb-alinsangan-nabua/public/$1 [L]
